{% extends "base.html" %}

{% block scriptsTag %}
{% include "playerScripts.js" %}
{% endblock scriptsTag %}

{% block body %}

<!-- ko if:  !id() -->
<div><input id="nameInput" type="text" data-bind="disable: waiting"></div>
<div><button data-bind="{click: $root.register, disable: waiting}">Let's Go!</button></div>
<!-- /ko -->

<!-- ko if: id() -->
<div><button data-bind="{click: $root.buzz, disable: waiting}">BUZZ!!!!</button></div>
<!-- /ko -->

<div data-bind="{visible: name, text:'You are ' + name() + '.'}"></div>

<!-- ko if: id() -->
<div><button data-bind="{click: $root.logout}">Log Out</button></div>
<!-- /ko -->

{% endblock body %}
